.body {
      margin: 0;
}

header {
    background-image: url('https://ssl.gstatic.com/atari/images/aristotle-header-dark.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
}

main {
    background-color: #1d2a35;
    padding: 20px;
    min-height: calc(100vh - 225px);
    text-align: center;
}

footer {
    background-color: #171921;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.hide,
.hidden  {
display: none;
}

.white {
    color: white;
}