body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=email], input[type=password], input[type=text], input[type=date]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=date]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.my_cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.my_cancelbtn, .my_signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.my_container {
  padding: 16px;
}

/* The Modal (background) */
.my_modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.my_modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The my_close Button (x) */
.my_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.my_close:hover,
.my_close:focus {
  color: #f44336;
  cursor: pointer;
}

span.psw {
  float: right;
}

/* Clear floats */
.my_clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Add Zoom Animation */
.my_animate {
  -webkit-animation: my_animatezoom 0.6s;
  animation: my_animatezoom 0.6s
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .my_my_cancelbtn, .my_signupbtn {
     width: 100%;
  }
}

input[type="color" i] {
  border-radius: 50%;
  inline-size: 30px;
  block-size: 30px;
  
  /* Can set padding between outer circle and color swatch for Firefox here;
   * it doesn't support a color-swarch-wrapper pseudoclass
   */
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(153, 153, 153);
}

/* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 1px;
}

/* Affects the inner circle, i.e. the current color selection */
input[type="color" i]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color" i]::-moz-color-swatch {
  border-radius: 50%;
}

select {
  margin-bottom: 10px;
}

.select_icon_container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center the items */
  width: 100%;
}

.icon {
  margin-left: 7px; /* Add some space between the select and the icon */
  margin-right: -2px;
  margin-bottom: 11px; /* Add some space between the select and the icon */
  font-size: 24px; /* Adjust icon size as needed */
  cursor: pointer;
}

.gmail_button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#166c82;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.gmail_button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.gmail_button:active {
	position:relative;
	top:1px;
}


	
/* View & edit icon */
.view_icon {
  position: absolute;
  transform: translateX(-30px) translateY(25px);
  cursor: pointer;
}

.edit_icon {
  position: absolute;
  transform: translateX(-30px) translateY(20px);
  cursor: pointer;
}

.hidden {
  display: none;
}