.reminder-container {
        /* For mobile phones: */
            width: 80vw;

            @media only screen and (min-width: 400px) {
              /* For tablets: */
              width: 40vw;
            }

            @media only screen and (min-width: 730px) {
              /* For computers: */
              width: 28vw;
            }

            @media only screen and (min-width: 950px) {
              /* For computers: */
              width: 21vw;
            }
            
        height: 102px;
        padding-top: 15px;
        border-radius: 15px;
        overflow: auto;
        color: #fff;
      	cursor: pointer;
      	vertical-align: middle;
        transition: transform 1s;
    }

    .remindera { /*TAG*/
        padding: 7px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 20px;
        font-size: 13px;
    }

    .remindernobr { /*DATE*/
    	font-family: "Anaheim", sans-serif;
        font-size: 13px;
        padding-left: 10px;
    }

    .reminderh2 { /*TOPIC*/
    	font-family: "Architects Daughter", sans-serif;
        font-size: 23px;
        font-weight: bold;
        line-height: 0.1;
    }

    .reminderinput { /* Mark as done checkbox */
        position: absolute;
  	    top: 5px;
        right: 5px;
        transform: scale(1.25);
        -ms-transform: scale(1.25);
        -webkit-transform: scale(1.25);
    }

    .reminderp {
      padding-right: 5px;
      padding-left: 5px;
    }
	  

    .add-dev-button {
        width: 102px;
        height: 102px;
        line-height: 1;
        margin-top: 15px;
        display: inline-block;
        background-color: #04AA6D;
        border-radius: 15px;
        color: #fff;
        font-size: 100px;
        text-decoration: none;
        border-width: 0px;
        
        transform: matrix3d(
          1, 0, 1, 0,
          0, 1, 1, 0,
          1, 1, 0, 0,
          0, 0, 0, 1
        );
        transition: transform 1s;
      }

      .add-dev-button:hover {
        transform: rotate3d(1, 1, 1, 0deg)
        matrix3d(
        1, 0, 1, 0,
        0, 1, 1, 0,
        1, 1, 0, 0,
        0, 0, 0, 0.95);
      }
      
      
      
      
      /* overlay */
      .container {
            position: relative;
            display: inline-block;
            /* For mobile phones: */
            width: 80vw;
            margin-left: 2.5vw;
            margin-right: 2.5vw;

            @media only screen and (min-width: 400px) {
              /* For tablets: */
              width: 40vw;
            }

            @media only screen and (min-width: 730px) {
              /* For computers: */
              width: 28vw;
              margin-left: 1.75vw;
              margin-right: 1.75vw;
            }

            @media only screen and (min-width: 950px) {
              /* For computers: */
              width: 21vw;
              margin-left: 1vw;
              margin-right: 1vw;
            }
            
            height: 117px;
	    vertical-align: middle;
            margin-bottom: 15px;
            transition: transform 1s;
    }

    /* Hover = Zoom */
    .container:hover,
    .container:focus,
    .container-zoom{
      transform: scale(1.05);
    }
    
      .overlay {
            position: absolute;
            top: 0;
            left: 0;
	          width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s ease;
            /* Changed to allow pointer events when active */
            pointer-events: none;
            
            border-radius: 15px;
        }

        .overlay.active {
            opacity: 1;
            /* This makes the overlay block all interactions */
            pointer-events: all;
        }

        .buttons_overlay {
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 10;
        }
        
        .mark_as_done_overlay {
	        background-color: rgba(0, 0, 0, 0.5);
        }
        

        /* Disable text selection when overlay is active */
        .disable-content {
            user-select: none;
        }
        
        
  
        .edit,.del{
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 90%;
            opacity: 0.9;
            border-radius: 15px;
        }
        
   		 .edit:hover,
         .del:hover {
           opacity:1;
    	}
        
        .edit {
           background-color: #04AA6D;
        }

        .del {
           background-color: #f44336;
        }




.top_bar_icons {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0px;
  
  position: absolute;
  top:	 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: 0.5s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: left;
  width: calc(100% - 10px);
  overflow: hidden;
}

.top_bar_icons div {
  margin-top: 5px; margin-bottom: 5px;
}

.top_bar_icons.on {
    height: auto;
}

.expand {
	position: absolute;
  	top: 5px;
  	left: 5px;
}

.link {
	font-size: 18px;
  transform: translate(0px, -7px);
}

.icon:hover {
	color: #d1d1d1;
    translate: 0.5px 0.5px;
}
