
{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}
  <!-- Import reminder css -->
  <link rel="stylesheet" href="/static/style/reminder.css">
  <!-- Import loading ring css -->
  <link rel="stylesheet" href="/static/style/loading_ring.css">
  <!-- Import sort icon css -->
  <link rel="stylesheet" href="/static/style/agenda_icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}
{% block header %} {{ title }} {% endblock %}
{% block header_bg_image %} https://ssl.gstatic.com/atari/images/aristotle-header-dark.jpg  {% endblock %}
{% block menu_icon %}
<div class="tooltip_container">
    <span class="menu_icon" onclick="openNav()">&#9776;</span>
    <label class="tooltip">Menu</label>
</div>
<div>
    <div class="tooltip_container_left">
        <span class="fas filter_icon" onclick="filter_icon_dropdown_content()">&#xf0b0;</span>
        <label class="tooltip">Filtrer</label>
    </div>
    <div class="filter_dropdown_content hide" id="filter_dropdown_content" onclick="stopPropagation(event)">
        <div class="filter_display-flex">
            <a onclick="filter('subject', event)" id="filter_matière" class="on">Matière</a>
            <a onclick="filter('tag', event)" id="filter_tag">Tag</a>
            <a onclick="filter('date', event)" id="filter_date" style="display:none">Date</a>
        </div>
        <!-- Same divs and same selecy as editmodal -->
        <div class="filter_my_container" id="subject_container">
            <div class="filter_select_container">
                <select class="form-select" name="id" id="filter_subject_select" onchange="filter_changeSelect('subject', event)" required>
                    <option value="reset" style="background-color: white; color: black" selected>Réinitialiser</option>
                    <optgroup id="filter_subject_optionGroup" style="display: none;" label="Matières">
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="filter_my_container hidden" id="tag_container">
            <div class="filter_select_container">
                <select class="form-select" name="id" id="filter_tag_select" onchange="filter_changeSelect('tag', event)" required>
                    <option value="reset" style="background-color: white; color: black" selected>Réinitialiser</option>
                    <optgroup id="filter_tag_optionGroup" style="display: none;" label="Matières">
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="filter_my_container hidden" id="date_container">
            <div class="filter_select_container">
                <input class="form-date" type="date" name="date" id="filter_datePicker" onchange="filter_changeDate(event)" required>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="tooltip_container_left">
      <span class="material-icons sort_icon"  onclick="sort_icon_dropdown_content()">&#xe053;</span>
      <label class="tooltip">Trier</label>
    </div>
    <div class="sort_icon-dropdown_content" id="sort_icon-dropdown_content">
    <a onclick="sort('date', event)">Date <i class="fa-regular check" id="sort_date_check">&#xf058;</i></a>
    <a onclick="sort('matière', event)">Matière <i class="fa-regular check hide" id="sort_matière_check">&#xf058;</i></a>
    <a onclick="sort('tag', event)">Tag <i class="fa-regular check hide" id="sort_tag_check">&#xf058;</i></a>
    </div>
  </div>
{% endblock %}
{% block content %}
<a class="add-dev-button" href="/add_reminder">+</a>
<div class="lds-ring" id="loading" style="text-align: middle;"><div></div><div></div><div></div><div></div></div>
{% endblock %}
{% block after_content %}{% endblock %}
{% block script %}
<!-- Import filter.js -->
<script src="/static/scripts/filter.js"></script>

<script>
    const header = document.querySelector("header")

    document.getElementById("sort_icon-dropdown_content").style.height = header.offsetHeight
    document.getElementById("filter_dropdown_content").style.height = header.offsetHeight

    async function reminder_mark_as_done(reminder_id, container_id){
        event.stopPropagation()
        const checkbox = document.getElementById(`reminput${container_id}`);
	const mad_checkbox = document.getElementById(`madinput${container_id}`);
        const overlay = document.getElementById(`mark_as_done_overlay${container_id}`);
	const text = document.getElementById(`remp${container_id}`);

        let message;
        if (checkbox.checked){
            message = await fetch("/api/reminder/done/" + reminder_id + "/True");
	        checkbox.checked = false
            mad_checkbox.checked = true
        } else if (!mad_checkbox.checked) {
            message = await fetch("/api/reminder/done/" + reminder_id + "/False");
	        mad_checkbox.checked = true
            checkbox.checked = false
        }
        if (message.ok){
            overlay.classList.toggle('active');
	    text.classList.toggle('hidden')
        } else {
            console.log(message.statusText)
        }
    }
    
    const sort_dropdown_content = document.getElementById('sort_icon-dropdown_content');
    function sort_icon_dropdown_content(){
        event.stopPropagation()
        close_filter_icon_dropdown_content()
        sort_dropdown_content.classList.toggle('show');
    }

    function close_sort_icon_dropdown_content(){
        sort_dropdown_content.classList.remove('show');
    }

    // when the document is pressed
    document.addEventListener('click', close_sort_icon_dropdown_content);

  function sort(type, event){
    event.stopPropagation();
    const date = document.getElementById('sort_date_check')
    const matière = document.getElementById('sort_matière_check')
    const tag = document.getElementById('sort_tag_check')
    if (type == 'date') {
      fetchData('/sort/date');
      date.classList.remove('hide')
      matière.classList.add('hide')
      tag.classList.add('hide')
    }
    else if (type == 'matière') {
      fetchData('/sort/subject_id');
      date.classList.add('hide')
      matière.classList.remove('hide')
      tag.classList.add('hide')
    }
    else if (type == 'tag') {
      fetchData('/sort/tag_id');
      date.classList.add('hide')
      matière.classList.add('hide')
      tag.classList.remove('hide')
    }
  }




    function adjustColorBrightness(color, percent) {
        let num = parseInt(color.slice(1), 16);
        let amt = Math.round(2.55 * percent);
        let r = (num >> 16) + amt;
        let g = (num >> 8 & 0x00FF) + amt;
        let b = (num & 0x0000FF) + amt;
    
        r = Math.max(0, Math.min(255, r));
        g = Math.max(0, Math.min(255, g));
        b = Math.max(0, Math.min(255, b));
    
        return `#${(r << 16 | g << 8 | b).toString(16).padStart(6, '0')}`;
    }


    async function loadRessource (ressource_route) {
            const ressource = await fetch(ressource_route);
            const response = await ressource.json();
            return response;
    } 

function remove_reminders(){
    const containerElements = document.querySelectorAll('.container');
    containerElements.forEach(element => {
      element.remove();
    });
}

var global_tagArr = undefined
var global_subjectArr = undefined

function createElem(object, index){
	let elem = document.createElement(object.htmlType);
	if (typeof elem.innerHTML === 'object'){
	   elem.innerHTML = createElem(elem.innerHTML, index)
	} else {
	   elem.innerHTML = object.elemContent;
	}
	
	if (object.class) {
	   elem.className = object.class
	} else {
	   elem.className = `reminder${object.htmlType}`;
	}
	if (object.id) {
	   elem.id = object.id + index;
	} else {
	   elem.id = `rem${object.htmlType}${index}`;	
	}
	
	if (object.htmlType === "h2") {
	    elem.style.color = adjustColorBrightness(subject.bg_color, 70);
	}
	
	if (object.elemBgColor) {
	    elem.style.backgroundColor = object.elemBgColor;
	}
	if (object.type) {
	    elem.type = object.type;
	}
	if (object.onclick) {
	    elem.onclick = object.onclick;
	}
	if (object.checked) {
	    elem.checked = object.checked;
	}
	if (object.style) {
	    elem.style = object.style;
	}
	return elem
}


	
async function fetchData (fetchlink) {
    remove_reminders()
    loading.classList.remove('hide');
    
    let reminderArr = await loadRessource("/api/reminder" + fetchlink);
    let tagArr = await loadRessource("/api/tag");
    let subjectArr = await loadRessource("/api/subject");
    global_tagArr = tagArr
    global_subjectArr = subjectArr
    loading = document.getElementById("loading")

    // remove expired reminders
    const removeExpiredObjects = (array) => {
	    const currentDate = new Date();
	    currentDate.setDate(currentDate.getDate() - 1);
	    return array.filter(item => new Date(item.date) >= currentDate);
     };
    reminderArr = removeExpiredObjects(reminderArr);

		
    if (Array.isArray(reminderArr)) {
    
        reminderArr.forEach(function(element, index) {
            let container = document.createElement("div");
    container.className = "container";
    container.id = `container${index}`;
    
	let reminder = document.createElement("div");
		let subject = subjectArr.find(mySubject => mySubject.id === element.subject_id);
            let tag = tagArr.find(myTag => myTag.id === element.tag_id);
            element.date = new Date(element.date)
    reminder.className = "reminder-container"; // Renamed for clarity
    reminder.style.backgroundColor = subject.bg_color; // Corrected typo
    reminder.id = `remDiv${index}`;
    reminder.addEventListener('click', (event) => {
        // Close other overlays
        removeDarknessAll(index, reminderArr); // Pass the current index to exclude it

        // Toggle the current overlay
        toggleDarkness(index);
        event.stopPropagation();
      });
	    container.appendChild(reminder);
	    
	    let overlay = document.createElement("div");
	    overlay.className = "overlay buttons_overlay";
	    overlay.id = `overlay${index}`;
	    container.appendChild(overlay);
	    
	    let edit = document.createElement("button");
	    edit.className = "edit";
	    edit.innerHTML = "Modifier";
        edit.addEventListener('click', () => {
            editmodal_open_modal(element.id);
        });
	    edit.id = `edit${index}`;
	    
	    let del = document.createElement("button");
	    del.className = "del";
	    del.innerHTML = "Effacer";
	    del.addEventListener('click', () => {
		    toggleDarkness(index);
		    open_confirm_modal('Effacer le rappel', 'Êtes-vous sûr de vouloir effacer ce rappel ?', `/api/reminder/${element.id}`, function(){history.go(0); /* reload the page */})
        });
	    del.id = `del${index}`;
	    
	    overlay.appendChild(edit);
	    overlay.appendChild(del);
	    
        let mark_as_done_overlay = document.createElement("div");
	    mark_as_done_overlay.className = "overlay mark_as_done_overlay";
	    mark_as_done_overlay.id = `mark_as_done_overlay${index}`;
	    if (element.done){
	        mark_as_done_overlay.classList.add('active');
	    }

	      let checkbox = document.createElement("input");
	      checkbox.className =  "reminderinput";
	      checkbox.id = `madinput${index}`;
	      checkbox.type = "checkbox";
	      checkbox.onclick = function() {reminder_mark_as_done(element.id, index)};
	      checkbox.checked = true;
	    mark_as_done_overlay.appendChild(checkbox)
	    container.appendChild(mark_as_done_overlay);
        

	    document.getElementById("main").appendChild(container);
    
            const elem_attributes = {
                tagged: {
                    htmlType: "a",
                    elemContent: tag.content,
                    elemBgColor: tag.bg_color,
                },
                date: {
                    htmlType: "nobr",
                    elemContent: "Pour : " + find_date_name(element.date),
                },
                topic: {
                    htmlType: "h2",
                    elemContent: subject.content, // Corrected to display subject name
                },
                text: {
                    htmlType: "p",
                    elemContent: element.content,
                },
		checkbox: {
                    htmlType: "input",
                    elemContent: "",
                    type: "checkbox",
                    onclick: function() {reminder_mark_as_done(element.id, index)},
                    checked: element.done,
                },
		 /*top_bar_icons_div1: {
		    htmlType: "div",
		    elemContent: {
		    top_bar_icons_div2: {
			htmlType: "div",
   			style: "margin-top: 5px; margin-bottom: 5px"
			elemContent: {
				expand_hidden: {
					htmlType: "span",
					elemContent: "expand_less",
					style: "visibility: hidden",
					onclick: "close_top_bar_icons()",
					class: "material-icons icon",
				},
				pin: {
					htmlType: "span",
					elemContent: "push_pin",
					class: "material-icons icon",
				},
				link: {
					htmlType: "span",
					class: "fa-solid fa-link icon link",
				}
			}
		    }
		    },
		},*/
            };
            Object.keys(elem_attributes).forEach(function(attr){
                reminder.appendChild(createElem(elem_attributes[attr], index));
            });
        });
	    
	loading.classList.add('hide');
	// add removeDarknessAll onclick to the body
	const body = document.getElementById("body");
	body.addEventListener('click', (event) => {removeDarknessALL(reminderArr);});
        } else {
        console.error("Data fetched is not an array");
    }
}


fetchData("");
    </script>

<!-- Edit modal -->
<script src="/static/scripts/edit_modal.js"></script>
    {% endblock %}
