{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}
  <!-- Import reminder css -->
  <link rel="stylesheet" href="https://quantix.pythonanywhere.com/static/style/reminder.css">
  <!-- Import loading ring css -->
  <link rel="stylesheet" href="https://quantix.pythonanywhere.com/static/style/loading_ring.css">
{% endblock %}
{% block header %} {{ title }} {% endblock %}
{% block header_bg_image %} https://ssl.gstatic.com/atari/images/aristotle-header-dark.jpg  {% endblock %}
{% block menu_icon %}
<div class="tooltip_container">
    <span class="menu_icon" onclick="openNav()">&#9776;</span>
    <label class="tooltip">Menu</label>
</div>
<div class="tooltip_container_left">
    <span class="material-icons sort_icon">&#xe053;</span>
    <label class="tooltip">Sort</label>
</div>
{% endblock %}
{% block content %}
<a class="add-dev-button" href="/add_reminder">+</a>
<div class="lds-ring" id="loading" style="text-align: middle;"><div></div><div></div><div></div><div></div></div>
{% endblock %}
{% block after_content %}{% endblock %}
{% block script %}

    function adjustColorBrightness(color, percent) {
        let num = parseInt(color.slice(1), 16);
        let amt = Math.round(2.55 * percent);
        let r = (num >> 16) + amt;
        let g = (num >> 8 & 0x00FF) + amt;
        let b = (num & 0x0000FF) + amt;
    
        r = Math.max(0, Math.min(255, r));
        g = Math.max(0, Math.min(255, g));
        b = Math.max(0, Math.min(255, b));
    
        return `#${(r << 16 | g << 8 | b).toString(16).padStart(6, '0')}`;
    }


    async function loadRessource (ressource_route) {
            const ressource = await fetch(ressource_route);
            const response = await ressource.json();
            return response;
    } 
          
async function fetchData () {
    let reminderArr = await loadRessource("/api/reminder");
    let tagArr = await loadRessource("/api/tag");
    let subjectArr = await loadRessource("/api/subject"); 
    loading = document.getElementById("loading")
    
    // sort reminderArr by date
    reminderArr = reminderArr.sort((a, b) => new Date(a.date) - new Date(b.date));

    // remove expired reminders
    const removeExpiredObjects = (array) => {
	    const currentDate = new Date();
	    currentDate.setDate(currentDate.getDate() - 1);
	    return array.filter(item => new Date(item.date) >= currentDate);
     };
    reminderArr = removeExpiredObjects(reminderArr);

		
    if (Array.isArray(reminderArr)) {
        loading.style.display = "block";
    
        reminderArr.forEach(function(element, index) {
            let container = document.createElement("div");
    container.className = "container";
    container.id = `container${index}`;
    
	let reminder = document.createElement("div");
		let subject = subjectArr.find(mySubject => mySubject.id === element.subject_id);
            let tag = tagArr.find(myTag => myTag.id === element.tag_id);
            element.date = new Date(element.date)
    reminder.className = "reminder-container"; // Renamed for clarity
    reminder.style.backgroundColor = subject.bg_color; // Corrected typo
    reminder.id = `remDiv${index}`;
    reminder.addEventListener('click', (event) => {
        // Close other overlays
        removeDarknessAll(index, reminderArr); // Pass the current index to exclude it

        // Toggle the current overlay
        toggleDarkness(index);
        event.stopPropagation();
      });
	    container.appendChild(reminder);
	    
	    let overlay = document.createElement("div");
	    overlay.className = "overlay";
	    overlay.id = `overlay${index}`;
	    container.appendChild(overlay);
	    
	    let edit = document.createElement("button");
	    edit.className = "edit";
	    edit.innerHTML = "Modifier";
        edit.addEventListener('click', () => {
            open_close_modal();
        });
	    edit.id = `edit${index}`;
	    
	    let del = document.createElement("button");
	    del.className = "del";
	    del.innerHTML = "Effacer";
	    del.addEventListener('click', () => {
		toggleDarkness(index);
		open_modal(`/api/reminder/${element.id}`, `container${index}`);
        });
	    del.id = `del${index}`;
	    
	    overlay.appendChild(edit);
	    overlay.appendChild(del);
	    
	    document.getElementById("main").appendChild(container);
    
            const elem_attributes = {
                tagged: {
                    htmlType: "a",
                    elemContent: tag.content,
                    elemBgColor: tag.bg_color
                },
                date: {
                    htmlType: "nobr",
                    elemContent: "Pour : " + find_date_name(element.date)
                },
                topic: {
                    htmlType: "h2",
                    elemContent: subject.content // Corrected to display subject name
                },
                text: {
                    htmlType: "p",
                    elemContent: element.content
                },
                checkbox: {
                    htmlType: "input",
                    elemContent: "",
                    type: "checkbox"
                }
            };
            Object.keys(elem_attributes).forEach(function(attr){
                let elem = document.createElement(elem_attributes[attr].htmlType);
                elem.innerHTML = elem_attributes[attr].elemContent;
                elem.className =  `reminder${elem_attributes[attr].htmlType}`; // Made class more specific
                elem.id = `rem${elem_attributes[attr].htmlType}${index}`;
                if (elem_attributes[attr].htmlType === "a") {
                    elem.style.backgroundColor = elem_attributes[attr].elemBgColor;
                } else if (elem_attributes[attr].htmlType === "h2") {
                    elem.style.color = adjustColorBrightness(subject.bg_color, 70);
                } else if (elem_attributes[attr].htmlType === "input"){
                    elem.type = elem_attributes[attr].type;
                }
                reminder.appendChild(elem);
            });
        });
	loading.style.display = "none";
	// add removeDarknessAll onclick to the body
	const body = document.getElementById("body");
	body.addEventListener('click', (event) => {removeDarknessALL(reminderArr);});
    } else {
        console.error("Data fetched is not an array");
    }
}


fetchData();
    
    {% endblock %}
