<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anaheim"> <!-- google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects%20Daughter"> <!-- google fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Edit icon -->
  <!-- Import tooltip css and js -->
  <link rel="stylesheet" href="https://timothee123456.github.io/library/tooltip/style.css">
  <script type="module" src="https://timothee123456.github.io/library/tooltip/script.js"></script>

  <!-- Import confirmation modal css -->
  <link rel="stylesheet" href="/static/style/confirmation_modal.css">
  
  <!-- Import sidenav menu css -->
  <link rel="stylesheet" href="/static/style/sidenav.css">
  {% block stylesheets %}{% endblock %}

	
  <!-- Edit modal styling -->
<link rel="stylesheet" href="/static/style/edit_modal.css"> <!-- import styling-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Delete icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- Edit icon -->
<!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script -->


  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/icons/android-chrome-512x512.png">
	
  <style>
    body {
      margin: 0;
    }

    header {
      background-image: url('{% block header_bg_image %} {% endblock %}');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding: 30px;
      text-align: center;
    }

    header h1 {
      color: #fff;
      font-size: 36px;
      margin: 0;
    }

    main {
      background-color: #1d2a35;
      padding: 20px;
      min-height: calc(100vh - 225px);
      text-align: center;
    }

    footer {
      background-color: #171921;
      padding: 20px;
      text-align: center;
      color: #fff;
      font-size: 14px;
    }

    .hide,
    .hidden  {
	display: none;
    }

</style>
</head>
<body id="body">
<header>
  <h1>{% block header %} {% endblock %}</h1>
  {% block menu_icon %} {% endblock %}
</header>
<main id="main">
    {% block content %} {% endblock %}
</main>
    {% block after_content %} {% endblock %}
<footer>
<p style="color: red;">La base de données va bientôt être effacé car ce projet est encore en cours de développement et des modifications sont en cours.</p>
  <p>&copy; <span id=date>2024-2025</span> <span onclick="openNav2()">Quantim</span>. Tous droits réservés. 
	  <a href="/apidocs" style="color: white;">API Docs,</a>  
	  <a href="/static/mention_legale.pdf" style="color: white;">Mentions légales,</a> 
	  <a href="/static/politique_de_confidentialite.pdf" style="color: white;">Politique de confidentialité</a>
  </p>
</footer>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/home">Accueil</a>
  <a href="/logout">Se déconnecter</a>
  <a class="red" onclick="open_confirm_modal('Effacer TOUS les rappels', 'Êtes-vous sûr de vouloir effacer TOUS vos rappels ? Vous ne pouvez pas revenir en arrière.', '/api/reminder', function(){history.go(0); /* reload the page */})">Effacer tous les rappels</a>
  <a class="red" onclick="open_confirm_modal('Effacer votre compte', 'Êtes-vous sûr de vouloir effacer votre compte ? Vous ne pouvez pas revenir en arrière.', '/account', function(){window.location.href = '/home';})">Effacer le compte</a>
</div>
<div id="mySecretSidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <a href="/api/reminder">Rappels</a>
  <a href="/api/subject">Matières</a>
  <a href="/api/tag">Tags</a>
</div>

<!-- Confirmation modal -->
<div id="confirm_modal" class="my_modal">
  <span onclick="close_confirm_modal()" class="my_close" title="my_close Modal">&times;</span>
  <form class="my_modal-content  my_animate">
    <div class="my_container">
      <h1></h1>
      <p></p>
   
      <div class="my_clearfix">
        <button type="button" onclick="close_confirm_modal()" class="my_cancelbtn my_modal_button" >Annuler</button>
        <input type="submit" class="my_signupbtn my_modal_button" value="Effacer">
      </div>
    </div>
  </form>
</div>




<!-- Edit modal -->




<div id="editmodal" class="editmodal edit_my_modal hidden">
  <span onclick="editmodal_close_modal()" class="edit_my_close" title="my_close Modal">&times;</span>
  <form class="edit_my_modal-content edit_my_animate" id="editmodal_form">
    <div class="edit_my_container">
      <h1>Modifier un rappel</h1>
      <hr>
       
<label for="subject_id"><b>Matière</b></label>
<div class="edit_select_icon_container">
  <select class="form-select" name="subject_id" id="editmodal_subject_select" onchange="editmodal_changeSelect('subject', 'editmodal_subject_select')" required>
      <option value="" hidden disabled selected>Choisissez une matière</option>
      <optgroup id="editmodal_optionGroup" style="display: none;" label="Matières">
      </optgroup>
      <option value="new">+ Plus</option>
  </select>
  <span class="material-icons edit_icon edit_icon_subject" style="display: none;">&#xe254;</span>
  <span class="material-icons edit_icon edit_icon_subject" style="display: none;">&#xe872;</span>
</div>
<label for="tag_id"><b>Tag</b></label>
<div class="edit_select_icon_container">
<select class="form-select" name="tag_id" id="editmodal_tag_select" onchange="editmodal_changeSelect('tag', 'editmodal_tag_select')" required>
    <option value="" hidden disabled selected>Choisissez un tag</option>
    <optgroup id="editmodal_optionGroup2" style="display: none;" label="Tags">
    </optgroup>
    <option value="new">+ Plus</option>
</select>
  <span class="material-icons edit_icon edit_icon_tag" style="display: none;">&#xe254;</span>
  <span class="material-icons edit_icon edit_icon_tag" style="display: none;">&#xe872;</span>
</div>
<label for="date"><b>Date</b></label>
<input type="date" name="date" id="editmodal_datePicker" required>
<br>
<label for="content"><b>Contenu du rappel</b></label>
<input type="text" placeholder="Contenu" name="content" id="editmodal_Contenu" required>

        <div class="edit_alert edit_alert-danger" id="editmodal_alert" style="display: none;">
            <strong>Erreur! </strong> <span id="editmodal_alert_text"></span> <a class="edit_alert-link" id="editmodal_alert_link"></a>
          </div>
      <div class="edit_my_clearfix">
        <button type="button" onclick="editmodal_close_modal()" class="edit_my_cancelbtn">Annuler</button>
        <button type="submit" class="edit_my_signupbtn">Valider</button>
      </div>
    </div>
  </form>
</div>

 
<div id="editmodal_tag_modal" class="editmodal edit_my_modal hidden">
    <span onclick="editmodal_close_a_modal(tag_modal, 'editmodal_tag_select')" class="edit_my_close" title="edit_my_close">&times;</span>
    <form class="edit_my_modal-content my_animate" id="editmodal_form">
      <div class="edit_my_container">
        <h1>Nouveau Tag</h1>
        <hr>
        <label for="content"><b>Nom du tag</b></label>
        <input type="text" placeholder="Nom" name="content" id="editmodal_Nom_tag" required>
        <br>
        <label for="bg_color"><b>Couleur</b></label>
        <input type="color" name="bg_color" required>
          <div class="edit_alert edit_alert-danger" style="display: none;">
              <strong>Erreur! </strong> <span></span> <a class="edit_alert-link"></a>
            </div>
        <div class="edit_my_clearfix">
          <button type="button" onclick="editmodal_close_a_modal(tag_modal, 'editmodal_tag_select')" class="edit_my_cancelbtn">Annuler</button>
          <button type="submit" class="edit_my_signupbtn">Valider</button>
        </div>
      </div>
    </form>
  </div>

  <div id="editmodal_subject_modal" class="editmodal edit_my_modal hidden">
    <span onclick="editmodal_close_a_modal(subject_modal, 'editmodal_subject_select')" class="edit_my_close" title="my_close Modal">&times;</span>
    <form class="edit_my_modal-content my_animate" id="editmodal_form">
      <div class="edit_my_container">
        <h1>Nouvelle Matière</h1>
        <hr>
        <label for="content"><b>Matière</b></label>
        <input type="text" placeholder="Nom" name="content" id="editmodal_Nom_subject" required>
        <br>
        <label for="bg_color"><b>Couleur</b></label>
        <input type="color" name="bg_color" required>
          <div class="edit_alert edit_alert-danger" style="display: none;">
              <strong>Erreur! </strong> <span></span> <a class="edit_alert-link"></a>
            </div>
        <div class="edit_my_clearfix">
          <button type="button" onclick="editmodal_close_a_modal(subject_modal, 'editmodal_subject_select')" class="edit_my_cancelbtn">Annuler</button>
          <button type="submit" class="edit_my_signupbtn">Valider</button>
        </div>
      </div>
    </form>
  </div>

    {% block script %} {% endblock %}
<script>
// change footer date
    const d = new Date();
    let year = d.getFullYear();
    document.getElementById("date").innerHTML = `2024-${year}`;

// Sidenav menu
   function openNav() {
     document.getElementById("mySidenav").style.width = "250px";
   }

   function closeNav() {
     document.getElementById("mySidenav").style.width = "0"
   }

	

	
// Secret Sidenav menu
   function openNav2() {
     document.getElementById("mySecretSidenav").style.width = "250px";
   }

   function closeNav2() {
     document.getElementById("mySecretSidenav").style.width = "0";
   }


	
function getDayOfWeek(target_date){
 current_date = new Date('2025-04-06')
 days = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']
  days_remaining = 7 - current_date.getDay()
 if (days_remaining == 7){ /* if sunday */
   days_remaining = 5
 }
  difference_milliseconds = target_date.getTime() - current_date.getTime()
 difference_days = Math.round(difference_milliseconds / 86400000)
 if (difference_days <= days_remaining && difference_days > 0){
    day_of_week = current_date.getDay() + difference_days
    return days[day_of_week - 1]
 }
 else {
    return false
 }
}


function find_date_name(date){
  const today = new Date();
   const tomorrow = new Date();
   tomorrow.setDate(today.getDate() + 1);
   if (date.getDate() == today.getDate() && date.getMonth() == today.getMonth() && date.getFullYear() == today.getFullYear()){
      return "Aujourd'hui"
   }
   else if (date.getDate() == tomorrow.getDate() && date.getMonth() == tomorrow.getMonth() && date.getFullYear() == tomorrow.getFullYear()) {
      return "Demain"
   }
   else {
     if (getDayOfWeek(date)){
       return getDayOfWeek(date)
     }
     else {
       return date.toLocaleDateString('en-GB')
     }
   }

}

	
function removeDarknessAll(excludeIndex = -1, reminderArr) { // Parameter to exclude an index
	for (let i = 0; i < reminderArr.length; i++){ // Use reminderArr.length for dynamic number of reminders
      if (i !== excludeIndex) { // Skip the excluded index
          const overlay = document.getElementById(`overlay${i}`);
          const remDiv = document.getElementById(`remDiv${i}`);
	  const container = document.getElementById(`container${i}`);
	      
          overlay.classList.remove('active');
          remDiv.classList.remove('disable-content');
          container.classList.remove('container-zoom');
        }
   }
}

function removeDarknessALL(reminderArr) {
	for (let i = 0; i < reminderArr.length; i++){ // Use reminderArr.length for dynamic number of reminders
          const overlay = document.getElementById(`overlay${i}`);
          const remDiv = document.getElementById(`remDiv${i}`);
	  const container = document.getElementById(`container${i}`);

          overlay.classList.remove('active');
          remDiv.classList.remove('disable-content');
          container.classList.remove('container-zoom');
        }
   }

function toggleDarkness(index) {
    const overlay = document.getElementById(`overlay${index}`);
    const remDiv = document.getElementById(`remDiv${index}`);
    const container = document.getElementById(`container${index}`);
    
    overlay.classList.toggle('active');
    remDiv.classList.toggle('disable-content');
    container.classList.toggle('container-zoom');
}
</script>
<script>


// Confirmation modal


function close_confirm_modal() {
  let confirm_modal = document.getElementById("confirm_modal");
  confirm_modal.style.display = "none";
}

	
function open_confirm_modal(title, message, link, action) {
  closeNav()
  let confirm_modal = document.getElementById("confirm_modal");
  let confirm_form = confirm_modal.querySelector("form");
  let confirm_title = confirm_modal.querySelector("h1");
  let confirm_message = confirm_modal.querySelector("p");
  confirm_title.innerHTML = title
  confirm_message.innerHTML = message
  confirm_modal.style.display = "block";
  confirm_form.addEventListener("submit", async function (event) {
    event.preventDefault();
      let response = await fetch(link, {method: 'DELETE'});
      if (response.ok) {
        console.log(response);
        action()
      } else {
        console.log(response);
      }
  })
}










// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  let Sidenav = document.getElementById('mySidenav');
  if (event.target == Sidenav) {
    closeNav();
  }
  if (event.target == document.getElementById("confirm_modal")) {
    close_confirm_modal();
  }
  var editmodal = document.getElementById('editmodal');
  if (event.target == editmodal) {
    editmodal_close_modal();
  }
}
</script>
</body>
</html>
