{% extends 'form.html' %}

{% set title = "Se connecter à votre compte PRONOTE" %}
{% set next_destination = "/agenda" %} 
{% set fetch_destination = "/login_pronote" %}

{% block form_content %} 
<label for="username"><b> Entrer votre username PRONOTE </b></label>
<input type="text" placeholder="Username" name="username" autocomplete="username" required>
<br>
<label for="password"><b> Entrer votre mot de passe </b></label>
<input type="password" placeholder="Mot de passe" name="password" autocomplete="current-password" required>
<div class="alert alert-danger" id="pronote_psw_alert">
    <strong>⚠️ CECI EST EXTRÊMEMENT RISQUÉ, VOTRE MOT DE PASSE NE SERA PAS PROTÉGÉ ! ⚠️</strong>
    <br>
    <a onclick="toggle_information_visibility()" style="
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
    ">Plus d'infos</a>
    <p class="hidden">
        <br>
        Vos mot de passe ne seront pas encryptés, ni hashés.<br>
        Ils seront enregistrés directement dans la base de données.<br>
        Les développeurs du site ont un accès illimité à cette base de données.<br>
        Il leur suffit d'une seule commande (SQL) : "select pronote_password from users;"<br>
        En cas de piratage, ces mots de passe seront les premiers à fuiter.<br>
        Malheureusement, pour des raisons techniques, il est impossible de faire autrement.<br>
        C'est pourquoi cette méthode est extrêmement peu recommandée.<br>
        Poursuivez à vos propres risques et en pleine connaissance de ces derniers.
    </p>
</div>
{% endblock %}
{% block script %}
<script>
let div = document.getElementById("pronote_psw_alert")
let a = div.querySelector('a');
let p = div.querySelector('p');

function toggle_information_visibility(){
    p.classList.toggle("hidden")
    if (a.innerHTML == "Plus d'infos"){
        a.innerHTML = "Moins d'infos"
    } else {
        a.innerHTML = "Plus d'infos"
    }
}
</script>
{% endblock %}
