{% extends 'form.html' %}

{% set title = "Récuperer vos devoirs de PRONOTE" %}
{% set next_destination = "/agenda" %} 
{% set fetch_destination = "/fetch_from_pronote" %}

{% block style %}
<style>
.school_logo {
    cursor: pointer;
    border: 2px solid #f1f1f1;
}
</style>
{% endblock %}

{% block form_content %} 
<label for="pronote_url"><b> Entrer le lien que vous utilisez pour accéder à PRONOTE</b></label>
<br>
<div id="pronote_link_div">
    <div class="tooltip_container" style="display: inline-block">
        <img id="lfi_logo" class="school_logo" onclick="pronote_link('https://pronote.fis.edu.hk/eleve.html')" src="/static/images/lfi_logo.png">
        <label class="tooltip">Appuyer seulement si vous êtes un élève au LFI de Hong Kong</label>
    </div>
    <input id="pronote_url" type="text" placeholder="Exemple: https://pronote.mon.ecole/eleve.html" name="pronote_url" autocomplete="pronote_url" value="{{url}}" required>
</div>
<label for="username"><b> Entrer votre username PRONOTE</b></label>
<input type="text" placeholder="Username" name="username" autocomplete="pronote_username" value="{{username}}" required>
<br>
<label for="password"><b> Entrer votre mot de passe PRONOTE</b></label>
<input type="password" placeholder="Mot de passe" name="password" autocomplete="pronote_password" id="password1" required><i class="fa fa-eye view_icon" id="view_icon1" onclick="toggle_password_visibility('1')"></i>
{% endblock %}
{% block script %}
<script>
const link_div = document.getElementById("pronote_link_div")
const tooltip_container = link_div.querySelector("div")
const logo = link_div.querySelector("img")
const pronote_url = link_div.querySelector("input")

let logo_height = pronote_url.offsetHeight + 'px';
logo.style.height = logo_height;
logo.style.width = logo_height;
tooltip_container.style.width = logo_height;
pronote_url.style.width = pronote_url.offsetWidth - pronote_url.offsetHeight - 5 + 'px';

function pronote_link(url){
    pronote_url.value = url
}


</script>
{% endblock %}
