{% extends 'form.html' %}

{% set title = "Se connecter" %}
{% set next_destination = "/agenda" %} 
{% set fetch_destination = "/login" %}

{% block form_content %} 
<label for="username"><b> Entrer votre username </b></label>
<input type="text" placeholder="Username" name="username" autocomplete="username" required>
<label for="password"><b> Entrer votre mot de passe </b></label>
<input type="password" placeholder="Mot de passe" name="password" autocomplete="current-password" id="password1" required><i class="fa fa-eye view_icon" id="view_icon1" onclick="toggle_password_visibility('1')"></i>
<p>Vous n'avez pas de compte ? <a href="register">S'inscrire</a> </p>
<p>Vous avez <a href="forgot_password">oublié votre mot de passe</a> ?</p>
{% endblock %}
